{
  "env": {
    "node": true
  },
  "extends": "plugin:requirejs/recommended",
  "plugins": [
    "requirejs"
  ],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
